body
{
  padding-top: 100px;
  margin: 0;
  background-color: #ddd;
  font-family: Verdana, Geneva, sans-serif;
  font-size: large;
}
header
{
  background-color: #000;
  padding-top: 1%;
  padding-bottom: 1%;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
}
.header_image
{
    max-width: 15%;
}
.content
{
    background-color: #ffffff;
    width: 60%;
    margin: auto;
    padding: 1%;
}
hr
{
    color: #cacaca;
    background-color: #cacaca;
    width: 90%;
}
h1{
  text-align: center;
}
.congrats{
/*  font-family: Raleway', sans-serif;*/
  font-size: 135%;
  text-align: center;
  padding-bottom: 5px;
}
h2{
  text-align: center;
}

li{
  padding-top: 5px;
  font-size: 110%;

}
.helpline{
  font-size: 125%;
  padding-left: 2%;
}
h3{
  padding-left: 2%;

}
.footer 
{
  text-align: center;
  font-size: 150%;
}

